# Zarinpal Configuration (for local testing only)
ZARINPAL_MERCHANT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
ZARINPAL_ENVIRONMENT=sandbox

# n8n Custom Extensions Path (for development)
N8N_CUSTOM_EXTENSIONS=E:\P\git project\n8n-workflows-practice\44-custom-node-zarinpal