# n8n Custom Extensions Path (for development)
N8N_CUSTOM_EXTENSIONS=E:\P\git project\n8n-workflows-practice\47-custom-node-pagination

# GitHub Configuration (for local testing only)
GITHUB_ACCESS_TOKEN=CHANGE_ME_YOUR_PERSONAL_ACCESS_TOKEN
GITHUB_BASE_URL=https://api.github.com